<% if user_signed_in? %>
<% else %>
<div class="top">
  <h3>札所毎に思いをつづろう</h3>
  <%= image_tag("henlogo_big.png", :size => "442x124") %>
  <p>お遍路中のリアルな思いやTIPSを残して<br>遍路日記を作りましょう。<br>手軽に投稿できてお遍路さん同士で<br>情報を共有し合えるので<br>きっともっとお遍路が楽しめます。</p>
<%= link_to "登録はこちら", new_user_registration_path, class: 'post' %>
</div>
<% end %>
<% if user_signed_in? %>
<div class="contents">
<% else %>
<div class="contents-index">
<% end %>
  <% @nikkis.each do |nikki| %>
  <div class="content_post">
    <% if user_signed_in? && current_user.id == nikki.user_id %>
    <div class="more">
      <ul>
        <li>
        <%= link_to '編集', "/nikkis/#{nikki.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/nikkis/#{nikki.id}", method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>
    <div class="avatar-img">
    <% if nikki.user.present? %><%= image_tag(nikki.user.avatar(:thumb)) if nikki.user.avatar.present? %><% end %>
    </div>
    <span class="nickname">
    <% if nikki.user.present? %>
    <a href="/users/<%= nikki.user.id %>"><%= nikki.user.nickname %></a>
    <% end %>
    </span>
    <a href="/temples/<%= nikki.temple.id %>/" title="<%= nikki.temple.temple_name %>"><span class="place"><%= nikki.temple.temple_name %></span></a>
    <p><%= simple_format(nikki.text) %></p>
    <% if nikki.image.present? %>
    <img class="img" src="<%= nikki.image(:large) %>" alt="">
    <% end %>
  </div>
  <% end %>
  <%= paginate(@nikkis) %>
</div>

