<div class="contents">
  <% @nikkis.each do |nikki| %>
  <div class="content_post">
    <% if user_signed_in? && current_user.id == nikki.user_id %>
    <div class="more">
      <ul>
        <li>
        <%= link_to '編集', "/nikkis/#{nikki.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/nikkis/#{nikki.id}", method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>
    <div class="avatar-img"><%= image_tag(nikki.user.avatar, :width => "100" )%></div>
    <span class="nickname"><%= nikki.user.nickname %></span>
    <a href="/temples/<%= nikki.temple.id %>/" title="<%= nikki.temple.temple_name %>"><span class="place"><%= nikki.temple.temple_name %></span></a>
    <p><%= simple_format(nikki.text) %></p>
    <% if nikki.img.present? %>
    <img class="img" src="<%= nikki.img %>" alt="">
    <% end %>
  </div>
  <% end %>
  <%= paginate(@nikkis) %>
</div>

