<div class="contents" >
  <div class="mypage">
    <div class="avatar-img"><%= image_tag(@user.avatar(:thumb)) if @user.avatar.present? %></div>
    <p><%= @user.nickname %></p>

    <% if @user.nikkis.present? %>
    <a href="/temples/<%= @user.nikkis.last.temple_id %>/" ><span class="place"><small><%= Temple.find(@user.nikkis.last.temple_id).temple_name %>　<%= @user.nikkis.last.created_at.strftime("%Y/%m/%d") %></small></span></a>
    <% end %>
    <p><%= @user.introduction %></p>
  </div>
  <% @user.nikkis.reverse.each do |nikki| %>
  <div class="content_post">
    <div class="avatar-img"><%= image_tag(@user.avatar(:thumb)) if @user.avatar.present? %></div>
    <span class="nickname"><%= @user.nickname %></span>
    <a href="/temples/<%= nikki.temple.id %>/" title="<%= nikki.temple.temple_name %>"><span class="place"><%= nikki.temple.temple_name %></span></a>
    <p><%= simple_format(nikki.text) %></p>
    <% if nikki.image.present? %>
    <img class="img" src="<%= nikki.image(:large) %>" alt="">
    <% end %>
  </div>


  <% end %>

</div>