<div class="contents" >
  <div class="mypage">
    <div class="avatar-img"><%= image_tag(current_user.avatar, :width => "100" )%></div>
    <p><%= @nickname %>さんの投稿一覧</p>
  </div>
  <% @nikkis.each do |nikki| %>
  <div class="content_post">
  <div class="avatar-img"><%= image_tag(nikki.user.avatar, :width => "100" )%></div>
   <span class="nickname"><%= @nickname %></span>
   <a href="/temples/<%= nikki.temple.id %>/" title="<%= nikki.temple.temple_name %>"><span class="place"><%= nikki.temple.temple_name %></span></a>
   <p><%= simple_format(nikki.text) %></p>
   <% if nikki.image.present? %>
    <img class="img" src="<%= nikki.image %>" alt="">
    <% end %>
 </div>


 <% end %>



 <%= paginate(@nikkis) %>
</div>