<!DOCTYPE html>
<html>
<head>
  <title>遍路日記</title>
  <meta name=”keywords” content=”遍路日記,遍路,日記,コミュニティ,おへんろ,henro,四国,八十八ヶ所,札所”>
  <meta name="description" content="札所毎で、お遍路中のリアルな思いやTIPSを残して遍路日記を作りましょう。手軽に投稿できて、お遍路さん同士で情報を共有し合えるので、きっともっとお遍路が楽しめます。">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71035311-2', 'auto');
  ga('send', 'pageview');

</script>
  <%= favicon_link_tag('favicon.ico') %>
  <%= favicon_link_tag 'apple-icon.jpg', rel: 'apple-touch-icon', type:'image/jpg' %>

  <%= stylesheet_link_tag 'application', :debug => true , media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Roboto::sans-serif' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script> -->
  </head>

  <body>
    <header class="header">
      <ul class="main-nav">
        <li><a href="/" ><%= image_tag("henlogo.png", :size => "174x48") %></a></li>
        <% if user_signed_in? %>
        <li class="drop"><a href="#"><%= image_tag("mypage_icon.png", :size => "40x50") %></a>
          <ul>
            <li><a href="/users/<%= current_user.id %>" class="post" >マイページ</a></li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'post' %>
            </li>
            <li><%= link_to 'プロフィール設定', edit_user_registration_path, class: 'post' %></li>
          </ul>
        </li>
        <% else %>
        <li class="drop">
          <a href="#"><%= image_tag("mypage_icon.png", :size => "40x50") %></a>
          <ul>
            <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
            <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
            <li><%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path, class: 'post' %></li>
          </ul>
        </li>
        <% end %>
        <li>
        <a href="/temples/search"><%= image_tag("search_icon.png", :size => "45x45") %></a>
        </li>
      </ul>
    </header>

        <%= yield %>

        <footer>
        <a href="">利用規約</a>
        <a href="">プライバシー規約</a>
        <a href=mailto:henronikki88@gmail.com>問い合わせ</a>
          <p>
            Copyright 遍路日記 2016.
          </p>
        </footer>
      </body>
      </html>
