<div class="width100">
  <header class="search">
    <a href="../"><div class="icon_search"><%= image_tag("close_icon.png", :size => "40x40") %></div></a>
    <h2>札所を検索</h2>
  </header>

  <div class="search-form">
    <%= form_tag('/temples/search', method: :get) do %>
    <input name="keyword" placeholder="番所(半角数字)または札所名で検索" type="text" value="" >
    <button title="検索" type="submit"><%= image_tag("search_icon.png", :size => "50x50") %></button>
    </input>
    <% end %>
    <form accept-charset="utf-8" action="/" class="search-submit" method="get">
    </form>
  </div>

  <div class="result">
    <ul class="listview">
      <% if @temples.present? %>
      <% @temples.each do |temple| %>
      <li>
        <a href="/temples/<%= temple.id %>/" title="<%= temple.temple_name %>">
          <div class="result_column">
            <h3><%= temple.temple_name %></h3>
            <p><%= temple.address %></p>
          </div>
        </a>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>