
<div class="temple-top">
  <div class="temple-img">
    <% @temple.nikkis.each do |nikki| %>
    <% if nikki.image.present? %>
    <img class="top-img" src="<%= nikki.image(:medium) %>" alt="">
    <% end %>
    <% end %>
  </div>
  <div class="temple-basic">
  <h1><%= @temple.temple_name %></h1>
  <% if user_signed_in? %>
  <a href="/temples/<%= @temple.id %>/nikkis/new" class="create-btn">ここでの思いを残す</a>
  <% end %>
  </div>
</div>

<div class="contents">

  <% @temple.nikkis.each do |nikki| %>
  <div class="content_post">
    <% if user_signed_in? && current_user.id == nikki.user_id %>
    <div class="more">
      <ul>
        <li>
          <%= link_to '編集', "/nikkis/#{nikki.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/nikkis/#{nikki.id}", method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>
    <div class="avatar-img">
    <% if nikki.user.present? %><%= image_tag(nikki.user.avatar(:thumb)) if nikki.user.avatar.present?%><% end %>
    </div>
    <span class="nickname">
    <% if nikki.user.present? %><%= nikki.user.nickname %>
    <% end %>
    <p><%= simple_format(nikki.text) %></p>
    <% if nikki.image.present? %>
    <img class="img" src="<%= nikki.image(:large) %>" alt="">
    <% end %>
  </div>
  <% end %>

</div>